<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="hoppingvikings.housefinancemobile"
    android:versionCode="34"
    android:versionName="03.01.00">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:name=".HouseFinanceClass"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:resizeableActivity="true">

        <activity android:name="hoppingvikings.housefinancemobile.UserInterface.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts"/>
        </activity>

        <activity android:name=".UserInterface.SignInActivity"
            android:label="Sign In"/>

        <activity android:name=".UserInterface.MainMenuActivity"
            android:label="Main Menu"/>

        <service android:name="hoppingvikings.housefinancemobile.BackgroundService"
            android:exported="false"
            android:stopWithTask="false"/>

        <activity android:name=".UserInterface.Activities.ViewListActivity"
            android:parentActivityName=".UserInterface.MainMenuActivity"
            android:label="List"/>

        <activity android:name=".UserInterface.Activities.AddNewBillActivity"
            android:label="Add Bill"/>

        <activity android:name=".UserInterface.Activities.AddNewShoppingItemActivity"
            android:label="Add Shopping Item"/>

        <activity android:name=".UserInterface.Activities.ViewBillDetailsActivity"
            android:label="Bill Details"/>

        <activity android:name=".UserInterface.Activities.AddPaymentActivity"
            android:label="Add Payment"/>

        <activity android:name=".UserInterface.Activities.EditBillDetailsActivity"
            android:label="Edit Bill"/>

        <activity android:name=".UserInterface.Activities.EditShoppingItemActivity"
            android:label="Edit Shopping Item"/>

        <activity android:name=".UserInterface.Activities.EditPaymentActivity"
            android:label="Edit Payment"/>

        <activity android:name=".UserInterface.Activities.SelectUsersActivity"
            android:label="Select Users"/>

        <activity android:name=".UserInterface.Activities.AddNewToDoActivity"
            android:label="Add Task"/>

        <activity android:name=".UserInterface.Activities.EditTodoItemActivity"
            android:label="Edit Task"/>
        <activity android:name=".UserInterface.Activities.ViewHouseholdActivity" />
    </application>

</manifest>